@{
    ViewData["Title"] = "Sales Executive";
}

<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<div class="text-left">
    <h3>Sales Account Manager</h3>

<h5>The Company</h5><br />
<p>We are a small tech start-up which is trying to move the technology industry towards lower-cost IT systems. We are in the final stages of building our own porta-cloud offering. We don't believe in trapping customers into one cloud or another, and we also don't believe that cloud should be something big and different, so for our systems cloud is hidden under the hood and companies can work seemlessly on the same system which might straddle on-premise and in-cloud with expensive operations happening on-premise to reduce costs. The same cloud technology we use for our own systems will one day be available to all customers, so whether they want a hosted cloud solution or an on-premise cloud-like microservice capability we have the right system for them.
</p>

<h5>The Role</h5>
​
<p>Here at Design with Wisdom we train, we support, we co-operate and we help. We also value people and are working towards a world where people take precedence over computers and profit. Privacy matters to us, so we're not some google or facebook harvesting tons of data, but we will be using a different type of AI to help us to automate some of what our customers do.
    </p>

<p>Since we're a supportive employer we understand people sometimes have other things they need to think about, so working from home is common, part time is acceptable, and we'll make as many accomodations for any disabilities we can within our budget to make you feel welcome, happy, able to work to your fullest potential and to grow professionally over time.
</p>

<h5>Roles and responsibilities</h5>
<p>You will be working with others to grow a tech company from pre-growth levels to its full potential. We have a fully functioning product which is ready to go to market and offers significant benefits over our competitors' offerings.</p>
<ul>
<li>Managing brand via our external website and communications</li>
<li>You will be conducting market research and digital marketing</li>
<li>Raising awareness of our products and services within the market</li>
<li>Running SEO and e-marketing campaigns</li>
<li>You will get involved in sales pitches and writing bids</li>
<li>Gathering feedback from demos on functionality, potential further product improvements, brand etc to improve the company offering to enable your team to sell more effectively</li>
<li>Helping the company to develop a successful sales pipeline</li>
</ul>
</p>


You will have full support from the rest of the business. If you want people for demos, feasibility or technical discussions, estimates, or specific marketing material you will get it.
The role might require some travel to customer sites, but we will do our utmost to keep this to a reasonable level and promote remote meetings wherever they can be an effective substitute (which is almost always). We will see how things develop, but if you're not able to travel we are also happy for people to do remote sales.

<h5>Essential Skills</h5>
<ul>
<li>Excellent verbal, written and interpersonal communication skills</li>
<li>Self-motivated</li>
<li>Professional and respectful customer-facing manner</li>
<li>Ability to judge and send the right messages to the right people based on their influence on buying decisions and market positioning</li>
<li>Strong customer-focus</li>
<li>Experience of e-marketing would be beneficial though training can be given</li>
<li>SEO experience would be desirable but training can be given</li>
</ul>

<h5>Equality policy</h5>
​<p>We welcome applications from all regardless of their gender, ethnicity, sexual orientation, religion, political beliefs, physical or mental health status, family circumstances, location or any other characteristic others might consider to be sensitive. Where necessary please discuss any reasonable adjustments you may require during the hiring process so that we have the best chance to design out any obstacles to your ability to enjoy working with us.
To apply for this role, please email your cv and cover letter to recruitment@designwithwisdom.co.uk
</p>