@{
    ViewData["Title"] = "Services";
}

<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<div class="text-left">
    <h4>About Us</h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm align-content-center">
                <img src="~/images/artistbigger.png" alt="artist image" class="smallimage" />
            </div>
            <div class="col-sm">

                <p>Design with Wisdom is a vendor-neutral full service software development house. We don't sell, we build. Because we want our customers to be you, not the software vendors. Though we're happy to advise you on the best products based entirely upon your business needs.
                </p>
                <p>Having many years' experience with numerous development technologies and several of the best third party products on the market, we here at Design with Wisdom know that good software development is truly an art form. We know what works and what doesn't, and how to develop in ways which will bring out the best in your business and avoid any vulnerabilities in the products you may be working with.
                </p>
                <p>
                We specialise in business applications, workflow, web and database systems. We aim to design intuitive zero-training systems that are in tune with users' expectations and responsive to their needs.
                </p>
                <p>
                Because we are a small company, we don't have the overhead of a large marketing department and several senior executives. When you hire us you pay only for the developers and our experience. So our consultancy rates are lower than many large software vendors.
                </p>
                <p>

                As to our history? Well, we were born out of a sense of justice. Some companies were on the wrong side of a software contract (we're legally unable to say more than this), we saw the pain that caused. And we resolved to correct the issue, to introduce a little more competition into the software development market, to make it easier for companies to operate without their hands being tied by the software vendors. And to make it easier to build software cheaply. We realised you should be spending your money on investing in your business, not having to spend it building software to manage it.
                </p>
            </div>
        </div>
    </div>
</div>
