<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<div class="text-left">
    <h3>Why work with us?</h3>

    <p>You know, when it really comes down to it, tech is not the most important thing on the planet. What matters is whether you're helping people.</p>
    <p>While we might have the best skills, we're also human, and people are at the center of everything we try to do. If it's not helping people, it's not worth doing.</p>

    <p>This also applies to you. If the team structure or the way we do things doesn't work for you, we want to know.</p>

   <p> Our company values are:
    <ul>
        <li>If people are doing a good job, let them get on with it. Just move the obstacles out of the way.</li>
        <li>Don't push process over people</li>
        <li>Don't push hierarchy over happiness</li>
        <li>Manners maketh the man</li>
    </ul>


    </p>

    <h5>Current Vacancies</h5>
    <ul>
        <li> <a class="nav-link text-light" asp-area="" asp-controller="Jobs" asp-action="DevOpsEngineer">Devops Engineer</a></li>
        <li> <a class="nav-link text-light" asp-area="" asp-controller="Jobs" asp-action="SalesAccountManager">Sales Account Manager</a></li>
    </ul>
  

</div>