@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<div class="row">
    <div class="text-left">

        <h4 >The Aspirin of Software Development...</h4>

        <p>
            Welcome to Design with Wisdom. We are a small tech start-up specialising in business process automation, software performance re-engineering and speed-build custom applications.
        </p>

        <p>
        Our products are stable, powerful and flexible, our costs are low and the prices we charge are competitive. We build systems to help you keep your costs down and your business versatile as well. So you can focus on what you do best instead of what technology you need to support it.
        </p>

        <p>
        We know that our customers have neither an endless supply of working capital nor the time to spend building complex systems, especially in these challenging times when we need to react quickly to changing conditions. Our self-building software system can help you cut costs and increase the speed of software development whilst giving control back to your internal staff to that they can support you into the future instead of having to rely on consultants for every change. If you need to reduce the long term cost of your software portfolio, perhaps it's time to talk?
        </p>


    </div>
  
</div>
