@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<br />
<div class="text-left">
<h3>@ViewData["Title"]</h3>

<p>Design with Wisdom may process your data in the following ways:</p>

<p>If you contact us we will process the data you give us to enable us to contact you. This includes name, email and phone number and any company you represent.</p>
<p>We record the ip addresses of visitors to our website, this is used to manage our firewall rules if we ever need to protect ourselves against a DDOS attack</p>
</div>
