@{
    ViewData["Title"] = "Services";
}

<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<div class="text-left">
    <h3>Services</h3>
    <div class="container">
    <div class="row">
        <div class="col-sm border-light">
            Business Automation
        </div>
          <div class="col-sm">
            Solution Design
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
                Software Refurbishment
        </div>
        <div class="col-sm">
                Web Development
        </div>
    </div>
        <div class="row">
            <div class="col-sm">
                Cloud migrations
            </div>
            <div class="col-sm">
                Performance/security fixes
            </div>
        </div>

    </div>
</div>







