@{
    ViewData["Title"] = "Services";
}

<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<div class="text-left">
    <div class="container">
    <div class="row">
        <div class="col-sm border-light">
                <h5>Business Automation</h5>
                <p>Creating a seemless integration between your business processes, your employees and your customers.</p>
                <br />
         </div>
          <div class="col-sm">
                <h6>Solution Design</h6>
                <p>Designing ways to empower your staff at an affordable cost.</p>
                <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h6>Software Refurbishment</h6>
            <p>Resurrecting aging software that can still work with the right rescue plan, and modernising the components that genuinely are one their last legs in order to save the rest of your investment.</p>
            <br />
        </div>
        <div class="col-sm">
            <h6>Custom Web Development</h6>
            <p>When third party tools are either unsuitable or too expensive, talk to us about any custom development you need. We can build both cloud or on premise systems for you.</p>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h6>Cloud Migrations</h6>
            <p>Help and advice for migrating your existing software to the cloud. Useful for avoiding potentially catastrophic mistakes like putting authenticated sites behind a cdn (please don't), and other such nasties that can happen when you don't have the experience to know what will and won't work.</p>
            <br />
        </div>
        <div class="col-sm">
            <h6>Performance / security fixes</h6>
            <p>Sometimes even with the best intentions, something goes a bit wrong with our software projects and they don't cope as well with the load being placed on them as we would like. We have many years of experience of software rescue to help you iron out those last niggles when you go live.</p>
            <br />
        </div>
    </div>

    </div>
</div>







