@{
    ViewData["Title"] = "Services";
}

<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<div class="text-left">
    <div class="container">
    <div class="row">
        <div class="col-sm border-light">
                <h5>Business Automation</h5>
                <p>blah blah</p>
        </div>
          <div class="col-sm">
                <h6>Solution Design</h6>
                <p>blah blah</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
                <h6>Software Refurbishment</h6>
                <p>blah blah</p>
        </div>
        <div class="col-sm">
                <h6>Custom Web Development</h6>
                <p>blah blah</p>
        </div>
    </div>
        <div class="row">
            <div class="col-sm">
                <h6>Cloud Migrations</h6>
                <p>blah blah</p>
            </div>
            <div class="col-sm">
                <h6>Performance / security fixes</h6>
                <p>blah blah</p>
            </div>
        </div>

    </div>
</div>







