@{
    ViewData["Title"] = "Technologies";
}

<h3>Technologies</h3>
<p>We currently support and build in any of the following technologies for custom development. If you have a need for something else, let us know and we'll do our best to help.</p>


<div class="col-md-6">
    <h5>Cloud Platforms</h5>
    <ul>
        <li>AWS</li>
        <li>Azure</li>
        <li>Oracle Cloud Platform</li>
        <li>Google Cloud Platform</li>
        <li>MongoDB Atlas Cloud/Realm</li>
    </ul>

</div>

<div class="col-md-6">
    <h5>Business Automation Platforms</h5>
    <ul>
        <li>eCompete</li>
        <li>K2</li>
        <li>Ultimus BPM</li>
        <li>Autologyx</li>
        <li>IntApp Flow/Integrate</li>
    </ul>
</div>

<div class="col-md-6">
    <h5>Back end Technology</h5>
    <ul>
        <li>.Net (all versions)</li>
        <li>C#</li>
        <li>Node.js</li>
        <li>Java</li>
        <li>Python</li>
        <li>VB.Net</li>
    </ul>
</div>

<div class="col-md-6">
    <h5>Front end Technology</h5>
    <ul>
        <li>Javascript</li>
        <li>Html</li>
        <li>Css</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>D3.js</li>
        <li>React</li>
        <li>Vue.js</li>
        <li>Angular</li>
    </ul>
</div>



<div class="col-md-6">
    <h5>Databases</h5>
    <ul>
        <li>MongoDB</li>
        <li>SQL Server</li>
        <li>Oracle</li>
        <li>MySql</li>
        <li>IBM DB2</li>
    </ul>

</div>


<div class="col-md-6">
    <h5>Third Party Applications</h5>
    <ul>
        <li>Liferay</li>
        <li>Sharepoint</li>
        <li>IntApp Conflicts/Flow</li>
        <li>Intapp Integrate</li>
        <li>Patricia</li>
        <li>iManage</li>
        <li>Dynamics 365</li>
        <li>OpenText MBPM</li>
    </ul>

</div>

<div class="col-md-6">
    <h5>Legacy Technologies</h5>
    <ul>
        <li>ASp.Net Webforms</li>
        <li>Classic asp</li>
        <li>Opentext MBPM</li>
        <li>Silverlight</li>
        <li>Visual Basic</li>
      
    </ul>

</div>

<div class="col-md-6">
    <h5>Other tech</h5>
    <ul>
        <li>GraphQL</li>
        <li>Azure Devops</li>
        <li>Entity Framework</li>
        <li>Web api/REST/SOAP</li>
        <li>Luis</li>
        <li>Bot Framework</li>
        <li>OAuth</li>
        <li>Docker</li>
        <li>WCF</li>
        <li>Spring</li>
        <li>Maven</li>
        <li>Jest</li> 
        <li>Jasmine</li>
        <li>Storybook</li>
        <li>MVC</li>
         <li>Razor</li>
         <li>dtSearch</li>
         <li>signalR</li>
    </ul>

</div>






