@{
    ViewData["Title"] = "Thank you";
}

<div class="text-center">
    <img src="~/images/stPauls.png" alt="banner image" class="spanimage" />
</div>
<br />
<div class="text-left">
    <p>Thank you for contacting us. One of our team will be in touch shortly.</p>

    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to Home page</a>


</div>
